[submodule "rtabmap"]
	path = rtabmap
	url = https://github.com/introlab/rtabmap.git
	branch = humble-devel
[submodule "rtabmap_ros"]
	path = rtabmap_ros
	url = https://github.com/introlab/rtabmap_ros.git
	branch = humble-devel
[submodule "ORB_SLAM3"]
	path = ORB_SLAM3
	url = https://github.com/UZ-SLAMLab/ORB_SLAM3.git
